# SQL: II

**GOALS**:

- Review basic queries from last session
- Work with NULL values
- Search for string values
- Investigate different types of JOIN statements
- Aggregate with Joins

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
#create engine/connection
engine = create_engine('sqlite:///SQL_SAFI.sqlite')

In [ ]:
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine).head()

### PROBLEM

- Write a SQL query to count the crops in the Crops table.
- Create a bar plot of the top ten crops produced by count.

In [ ]:
sql = '''

'''
df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
#barplot

### Missing Data

In [ ]:
engine = create_engine('sqlite:///survey.db')

In [ ]:
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine)

In [ ]:
#find missing values
sql = '''

'''

In [ ]:
#where not missing
sql = '''

'''

**PROBLEMS**

1. Write a query that sorts the records in Visited by date, omitting entries for which the date is not known (i.e., is null).

In [ ]:
#solution
sql = '''

'''
pd.read_sql_query(sql, engine)

### Restaurant Database

In [ ]:
engine = create_engine('postgres://DSI8:p3c1341f0f241ef04befd0f0b3acc0365eb30839b9408f9a9b3278d96966f34b8@ec2-34-202-213-35.compute-1.amazonaws.com:5432/dc5rooirs71hh0')

In [ ]:
engine.table_names()

In [ ]:
sql = """
SELECT *
FROM foods
"""

df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
#ALIASING 
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
#using DISTINCT
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

##### ORDER BY

In [ ]:
#name and calories from most calories to least
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
#restaurants in alphabetical order
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

In [ ]:
#id, name, and calories from foods
#order by id small to large, then 
#calories big to small
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.tail()

In [ ]:
#remember LIMIT to limit output
sql = '''

'''

In [ ]:
df = pd.read_sql_query(sql, engine)
df.head()

##### LIKE

In [ ]:
#foods that start with Whop
sql = """

"""

In [ ]:
# df = pd.read_sql_query(sql, engine)
# df.head()

In [ ]:
from sqlalchemy import text

In [ ]:
#the wildcard needs to be handled
df = pd.read_sql_query(text(sql), engine)
df.head()

In [ ]:
#case sensitive or not
sql = """

"""

In [ ]:
df = pd.read_sql_query(text(sql), engine)
df.head()

In [ ]:
#where things are not like whoppers
sql = '''

'''

In [ ]:
pd.read_sql_query(text(sql), engine).head()

### JOINS

<center>
    <img src = 'http://swcarpentry.github.io/sql-novice-survey/fig/sql-join-structure.svg' width = 40% />
    </center>

In [ ]:
engine = create_engine('sqlite:///survey.db')

In [ ]:
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine)

In [ ]:
pd.read_sql_query(sql, engine).shape

In [ ]:
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine).head()

In [ ]:
pd.read_sql_query(sql, engine).shape

In [ ]:
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine).head()

In [ ]:
pd.read_sql_query(sql, engine).shape

In [ ]:
#create a table with latitude, longitude, and date
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine)

In [ ]:
pd.read_sql_query(sql, engine).shape

In [ ]:
#combining the meaningful data
sql = '''

'''

In [ ]:
pd.read_sql_query(sql, engine)

### PROBLEMS

1. Write a query that lists all radiation readings from the DR-1 site.
2. Write a query that lists sites visited by people named "Frank".
3. Describe in your own words what the following query produces:
```sql
SELECT Site.name 
FROM Site 
JOIN Visited ON Site.lat < -49.0 AND Site.name = Visited.site AND Visited.dated >= '1932-01-01';
```
4. Write a query that shows each site with exact location (lat, long) ordered by visited date, followed by personal name and family name of the person who visited the site and the type of measurement taken and its reading. Please avoid all null values. Tip: you should get 15 records with 8 fields.

In [ ]:
#solution 1
sql = '''

'''
pd.read_sql_query(sql, engine)

In [ ]:
#solution 2
sql = '''

'''
pd.read_sql_query(sql, engine)

In [ ]:
#solution 3
sql = '''

'''
pd.read_sql_query(sql, engine)

In [ ]:
#solution 4
sql = '''

'''
pd.read_sql_query(sql, engine)

#### More JOINS

- Inner Join
- Left/Right Join
- Left/Right outer join
- Union

[Visual Tool](https://sql-joins.leopard.in.ua/)

In [ ]:
engine = create_engine('postgres://DSI8:p3c1341f0f241ef04befd0f0b3acc0365eb30839b9408f9a9b3278d96966f34b8@ec2-34-202-213-35.compute-1.amazonaws.com:5432/dc5rooirs71hh0')

In [ ]:
engine.table_names()

In [ ]:
from sqlalchemy import inspect

In [ ]:
insp = inspect(engine)

In [ ]:
insp.get_columns('restaurants')

**SQALCHEMY DOCS**: https://docs.sqlalchemy.org/en/13/core/reflection.html

In [ ]:
#whats in the restaurants table
pd.read_sql_query('SELECT * from restaurants', engine).head()

In [ ]:
#whats in the foods table
pd.read_sql_query('SELECT * from foods', engine).head()

In [ ]:
#categories
pd.read_sql_query('SELECT * from categories', engine).head()

In [ ]:
#categories_foods
pd.read_sql_query('SELECT * from categories_foods', engine).head()

In [ ]:
#names of every food item with restaurant
sql = '''

'''
pd.read_sql_query(sql, engine).head()

In [ ]:
#every item from Burger King
sql = '''

'''
pd.read_sql_query(sql, engine).head()

In [ ]:
#every food item with category
sql = '''

'''
pd.read_sql_query(sql, engine)

In [ ]:
#every food item in desert category
sql = '''

'''
pd.read_sql_query(sql, engine)

**PROBLEM**

In [ ]:
#name, restaurant and calories of the 
#top ten most caloric "Kid's Meals" (this is a category)
sql = """

"""

df = pd.read_sql_query(sql, engine)
df.head()

### Aggregation with Joins

In [ ]:
#how many rows in foods table
sql = '''

'''
pd.read_sql_query(sql, engine)

In [ ]:
#average number of calories for each restaurant
sql = '''

'''
pd.read_sql_query(sql, engine).head()

*The non-aggregated columns must be included in your Groupby statement*

In [ ]:
#id, name, average calories per restaurant
sql = '''

'''
pd.read_sql_query(sql, engine).head()

In [ ]:
#name and average calories for all restaurants 
#averaging more than 700 calories per item
sql = '''

'''
pd.read_sql_query(sql, engine)