# Practice: Iowa Liquor Sales

<img src = 'liquor_schema.png' />

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Set up the engine to access the data.
engine = create_engine('postgres://analytics_student:analyticsga@analyticsga-psql.generalassemb.ly:5432/iowa_liquor_sales_database')

In [ ]:
#how many rows are in the stores table?
sql = '''
'''
pd.read_sql_query(sql, engine)

In [ ]:
#sort stores alphabetically, what is the 10th store?
sql = '''
'''
pd.read_sql_query(sql, engine)

In [ ]:
#what was the three most expensive
#bottle prices for rum transactions?
sql = '''


'''
pd.read_sql_query(sql, engine)

In [8]:
#total amount of liquor sold in february 2015

In [ ]:
sql = """

"""
pd.read_sql_query(sql, engine)

In [ ]:
#Create a column called Markup that shows 
#the difference between the 
#btl_price and the state_btl_cost
sql = """

"""
pd.read_sql_query(sql, engine)

In [ ]:
#Calculate the "Percentage Markup" by dividing 
#markup by the state bottle cost
#and calculate the average percentage markup per store
sql = """

"""
pd.read_sql_query(sql, engine)

In [ ]:
#retrieve the five stores with the highest average markup 
#percentage. Along with the store IDs and average 
#markup percentage, return the minimum and maximum markup percentage,
#as well as the names and addresses of those store.
sql = """

"""
pd.read_sql_query(sql, engine)