# Intro to Pandas I

<center>
    <img src = https://miro.medium.com/max/3452/1*6p6nF4_5XpHgcrYRrLYVAw.png />
    </center>

In [1]:
import pandas as pd

### Classes

A `DataFrame` is a class.

In [2]:
class MyClass:
    a = 13
    
    def f(self):
        return 'Hello World!'

In [3]:
x = MyClass()

In [4]:
x.a

13

In [5]:
x.f()

'Hello World!'

In [14]:
def __init__(self):
    self.data = []

In [6]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

In [7]:
dog_1 = Dog('steve', 'mutt')

In [8]:
dog_1.name

'steve'

In [9]:
dog_1.breed

'mutt'

In [10]:
dog_2 = Dog('mary', 'pug')

In [11]:
dog_2.name

'mary'

In [12]:
dog_2.breed

'pug'

In [17]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed
        self.tricks = []
        
    def add_trick(self, trick):
        self.tricks.append(trick)
        
    def bark(self, times):
        return 'woof '*times

In [18]:
dog_2 = Dog('maria', 'schnauser')

In [19]:
dog_2.add_trick('roll over')

In [20]:
dog_2.tricks

['roll over']

In [21]:
dog_2.bark(5)

'woof woof woof woof woof '

##### PROBLEM

Create a `class` called `PugDog`.  This class should initialize with the name, weight and age of the pug, and contain methods for adding snacks to a snack list.  

Instantiate the class and add `kale` and `seitan` to your snack list.

In [22]:
class PugDog:
    
    def __init__(self, name, weight, age):
        self.name = name
        self.weight = weight
        self.age = age
        self.snacks = []
        
        
    def add_snack(self, snack):
        self.snacks.append(snack)

In [23]:
pug_1 = PugDog('gizmo', 40, 13)

In [24]:
pug_1.add_snack('kale')

In [25]:
pug_1.add_snack('seitan')

In [27]:
pug_1.

AttributeError: 'PugDog' object has no attribute '__attrs__'

In [26]:
pug_1.snacks

['kale', 'seitan']

### The Series

In [28]:
data = pd.Series([5, 3, 0, -2])

In [29]:
data

0    5
1    3
2    0
3   -2
dtype: int64

In [30]:
type(data)

pandas.core.series.Series

In [31]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data.values

array([ 5,  3,  0, -2])

In [23]:
data.isnull()

0    False
1    False
2    False
3    False
dtype: bool

In [32]:
data.index = ['a', 'b', 'c', 'd']

In [33]:
data

a    5
b    3
c    0
d   -2
dtype: int64

### The `DataFrame`

In [34]:
data = {'state': ['New York', 'New York', 'New York', 'Florida', 'Florida'],
       'year': [2008, 2010, 2011, 2008, 2010],
       'pop': [20.1, 19.4, 18.7, 10, 11]}

In [35]:
frame = pd.DataFrame(data)

In [36]:
frame

      state  year   pop
0  New York  2008  20.1
1  New York  2010  19.4
2  New York  2011  18.7
3   Florida  2008  10.0
4   Florida  2010  11.0

In [37]:
frame = pd.DataFrame(data, columns = ['year', 'state', 'pop'])

In [38]:
frame

   year     state   pop
0  2008  New York  20.1
1  2010  New York  19.4
2  2011  New York  18.7
3  2008   Florida  10.0
4  2010   Florida  11.0

In [31]:
frame['year']

0    2008
1    2010
2    2011
3    2008
4    2010
Name: year, dtype: int64

In [32]:
frame.year

0    2008
1    2010
2    2011
3    2008
4    2010
Name: year, dtype: int64

In [39]:
frame = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])

In [40]:
frame

      state  year   pop
a  New York  2008  20.1
b  New York  2010  19.4
c  New York  2011  18.7
d   Florida  2008  10.0
e   Florida  2010  11.0

### Creating DataFrames

In [39]:
#from Python objects
df = pd.DataFrame(data)

In [40]:
#from local files: .csv
gap_all = pd.read_csv('data/gapminder_all.csv')

https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [41]:
#from urls 
nypd = pd.read_json('https://data.cityofnewyork.us/resource/qgea-i56i.json')

In [45]:
#from html tables
vmars = pd.read_html('https://en.wikipedia.org/wiki/List_of_Veronica_Mars_episodes')

In [43]:
len(vmars)

7

##### PROBLEM

- Create a DataFrame named `happy_2019` from the `2019.csv` file located in the `data` folder.  

- Create a DataFrame named `nyc_311` from the data located here: https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9

- Create a DataFrame named `del_the` based on Del the Funky Homosapien's discography found here: https://en.wikipedia.org/wiki/Del_the_Funky_Homosapien_discography

In [42]:
happy_2019 = pd.read_csv('data/2019.csv')
nyc_311 = pd.read_json('https://data.cityofnewyork.us/resource/erm2-nwe9.json')
del_the = pd.read_html('https://en.wikipedia.org/wiki/Del_the_Funky_Homosapien_discography')

##### Cleaning 

<center>
    <img src = https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Veronica_Mars_2004_logo.svg/600px-Veronica_Mars_2004_logo.svg.png width = 50%/>
    </center>

In [60]:
#season 1 episodes
season_1 = vmars[1]

In [61]:
#season 2 episodes
season_2 = vmars[2]

In [48]:
len(vmars)

7

In [50]:
vmars[1]

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49[15]
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21[16]
2,3,3,"""Meet John Smith""",Harry Winer,Jed Seidel,"October 12, 2004",2T5702,2.71[17]
3,4,4,"""The Wrath of Con""",Michael Fields,Diane Ruggiero,"October 19, 2004",2T5703,3.12[18]
4,5,5,"""You Think You Know Somebody""",Nick Gomez,Dayna Lynne North,"October 26, 2004",2T5704,2.73[19]
5,6,6,"""Return of the Kane""",Sarah Pia Anderson,Story by : Rob Thomas Teleplay by : Phil Klemmer,"November 2, 2004",2T5705,2.86[20]
6,7,7,"""The Girl Next Door""",Nick Marck,Story by : Jed Seidel Teleplay by : Jed Seidel...,"November 9, 2004",2T5706,2.74[21]
7,8,8,"""Like a Virgin""",Guy Bee,Aury Wallington,"November 23, 2004",2T5707,2.76[22]
8,9,9,"""Drinking the Kool-Aid""",Marcos Siega,Story by : Rob Thomas Teleplay by : Russell Smith,"November 30, 2004",2T5708,2.40[23]
9,10,10,"""An Echolls Family Christmas""",Nick Marck,Diane Ruggiero,"December 14, 2004",2T5710,1.90[24]
10,11,11,"""Silence of the Lamb""",John Kretchmer,Jed Seidel & Dayna Lynne North,"January 4, 2005",2T5709,2.84[25]
11,12,12,"""Clash of the Tritons""",David Barrett,Phil Klemmer & Aury Wallington,"January 11, 2005",2T5711,2.91[26]
12,13,13,"""Lord of the Bling""",Steve Gomer,John Enbom,"February 8, 2005",2T5712,2.97[27]
13,14,14,"""Mars vs. Mars""",Marcos Siega,Story by : Rob Thomas Teleplay by : Jed Seidel...,"February 15, 2005",2T5713,2.70[28]
14,15,15,"""Ruskie Business""",Guy Bee,Phil Klemmer & John Enbom,"February 22, 2005",2T5714,2.34[29]
15,16,16,"""Betty and Veronica""",Michael Fields,Diane Ruggiero,"March 29, 2005",2T5715,2.33[30]
16,17,17,"""Kanes and Abel's""",Nick Marck,Carolyn Murray,"April 5, 2005",2T5716,2.78[31]
17,18,18,"""Weapons of Class Destruction""",John Kretchmer,Jed Seidel,"April 12, 2005",2T5717,2.30[32]
18,19,19,"""Hot Dogs""",Nick Marck,Dayna Lynne North,"April 19, 2005",2T5718,2.48[33]
19,20,20,"""M.A.D.""",John Kretchmer,Phil Klemmer & John Enbom,"April 26, 2005",2T5719,3.04[34]
20,21,21,"""A Trip to the Dentist""",Marcos Siega,Diane Ruggiero,"May 3, 2005",2T5720,2.85[35]
21,22,22,"""Leave It to Beaver""",Michael Fields,Story by : Rob Thomas Teleplay by : Rob Thomas...,"May 10, 2005",2T5721,2.99[36]

### Examining the `DataFrame`

In [51]:
season_1.shape

(22, 8)

In [54]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
No.overall                22 non-null int64
No. inseason              22 non-null int64
Title                     22 non-null object
Directed by               22 non-null object
Written by                22 non-null object
Original air date         22 non-null object
Prod.code                 22 non-null object
U.S. viewers(millions)    22 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ KB

In [62]:
#fix this!
season_1['U.S. viewers(millions)'].str[:-4]

0     2.49
1     2.21
2     2.71
3     3.12
4     2.73
5     2.86
6     2.74
7     2.76
8     2.40
9     1.90
10    2.84
11    2.91
12    2.97
13    2.70
14    2.34
15    2.33
16    2.78
17    2.30
18    2.48
19    3.04
20    2.85
21    2.99
Name: U.S. viewers(millions), dtype: object

In [63]:
season_1['U.S. viewers(millions)'] = season_1['U.S. viewers(millions)'].str[:4]

In [64]:
season_1.head(2)

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21

In [65]:
season_1.columns = ['num_overall', 'num_inseason', 'title', 'director', 'writer', 'air_date', 'pcode', 'us_viewers']

In [66]:
season_1.head()

,num_overall,num_inseason,title,director,writer,air_date,pcode,us_viewers
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21
2,3,3,"""Meet John Smith""",Harry Winer,Jed Seidel,"October 12, 2004",2T5702,2.71
3,4,4,"""The Wrath of Con""",Michael Fields,Diane Ruggiero,"October 19, 2004",2T5703,3.12
4,5,5,"""You Think You Know Somebody""",Nick Gomez,Dayna Lynne North,"October 26, 2004",2T5704,2.73

In [64]:
season_1['us_viewers'].astype('float')

0     2.49
1     2.21
2     2.71
3     3.12
4     2.73
5     2.86
6     2.74
7     2.76
8     2.40
9     1.90
10    2.84
11    2.91
12    2.97
13    2.70
14    2.34
15    2.33
16    2.78
17    2.30
18    2.48
19    3.04
20    2.85
21    2.99
Name: us_viewers, dtype: float64

In [70]:
season_1['us_viewers'] = season_1['us_viewers'].astype('float')
import numpy as np

In [71]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
num_overall     22 non-null int64
num_inseason    22 non-null int64
title           22 non-null object
director        22 non-null object
writer          22 non-null object
air_date        22 non-null object
pcode           22 non-null object
us_viewers      22 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ KB

### Dates in Pandas

In [72]:
import datetime

In [73]:
datetime.datetime.now()

datetime.datetime(2020, 2, 25, 16, 13, 49, 667661)

In [74]:
now = datetime.datetime.now()

In [75]:
type(now)

datetime.datetime

In [76]:
now.year

2020

In [77]:
now.minute

14

In [78]:
now.hour

16

In [79]:
pd.to_datetime('11-05-2020')

Timestamp('2020-11-05 00:00:00')

In [80]:
pd.to_datetime(season_1['air_date'])

0    2004-09-22
1    2004-09-28
2    2004-10-12
3    2004-10-19
4    2004-10-26
5    2004-11-02
6    2004-11-09
7    2004-11-23
8    2004-11-30
9    2004-12-14
10   2005-01-04
11   2005-01-11
12   2005-02-08
13   2005-02-15
14   2005-02-22
15   2005-03-29
16   2005-04-05
17   2005-04-12
18   2005-04-19
19   2005-04-26
20   2005-05-03
21   2005-05-10
Name: air_date, dtype: datetime64[ns]

In [81]:
season_1['air_date'] = pd.to_datetime(season_1['air_date'])

In [82]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
num_overall     22 non-null int64
num_inseason    22 non-null int64
title           22 non-null object
director        22 non-null object
writer          22 non-null object
air_date        22 non-null datetime64[ns]
pcode           22 non-null object
us_viewers      22 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 1.5+ KB

In [83]:
months = season_1['air_date'].dt.month

In [84]:
months

0      9
1      9
2     10
3     10
4     10
5     11
6     11
7     11
8     11
9     12
10     1
11     1
12     2
13     2
14     2
15     3
16     4
17     4
18     4
19     4
20     5
21     5
Name: air_date, dtype: int64

In [85]:
season_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
No.overall                22 non-null int64
No. inseason              22 non-null int64
Title                     22 non-null object
Directed by               22 non-null object
Written by                22 non-null object
Original air date         22 non-null object
Prod.code                 22 non-null object
U.S. viewers(millions)    22 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ KB

### PROBLEMS

- Rename the columns for season 2 to be consistent with season 1
- Clean up the viewer column
- Convert the dates
- Add a column to season 1 named `season` with value 1, do the same for season 2.
- Explore the help for the `pd.concat` function.  Use this to create a single `DataFrame` containing season 1 and season 2.

In [97]:
#rename the columns
season_2.columns = season_1.columns

In [98]:
season_1.columns

Index(['num_overall', 'num_inseason', 'title', 'director', 'writer',
       'air_date', 'pcode', 'us_viewers', 'season'],
      dtype='object')

In [99]:
season_1.columns = ['season', 'num_overall', 'num_inseason', 'title', 'director', 'writer',
       'air_date', 'pcode', 'us_viewers']

In [100]:
season_1.head()

,season,num_overall,num_inseason,title,director,writer,air_date,pcode,us_viewers
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,2004-09-22,475258,2.49,1
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,2004-09-28,2T5701,2.21,1
2,3,3,"""Meet John Smith""",Harry Winer,Jed Seidel,2004-10-12,2T5702,2.71,1
3,4,4,"""The Wrath of Con""",Michael Fields,Diane Ruggiero,2004-10-19,2T5703,3.12,1
4,5,5,"""You Think You Know Somebody""",Nick Gomez,Dayna Lynne North,2004-10-26,2T5704,2.73,1

In [87]:
#clean up viewer
season_2['us_viewers'] = season_2['us_viewers'].str[:-4].astype('float')

In [88]:
#convert the dates
season_2['air_date'] = pd.to_datetime(season_2['air_date'])

In [89]:
#add season columns
season_1['season'] = 1
season_2['season'] = 2

In [104]:
#explore concat
#pd.concat?
pd.concat([season_1, season_2], axis = 0)

/Users/jacobkoehler/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  This is separate from the ipykernel package so we can avoid doing imports until

,air_date,director,num_inseason,num_overall,pcode,season,title,us_viewers,writer
0,475258,Rob Thomas,"""Pilot""",1,2.49,1,Mark Piznarski,1.00,2004-09-22 00:00:00
1,2T5701,Rob Thomas,"""Credit Where Credit's Due""",2,2.21,2,Mark Piznarski,1.00,2004-09-28 00:00:00
2,2T5702,Jed Seidel,"""Meet John Smith""",3,2.71,3,Harry Winer,1.00,2004-10-12 00:00:00
3,2T5703,Diane Ruggiero,"""The Wrath of Con""",4,3.12,4,Michael Fields,1.00,2004-10-19 00:00:00
4,2T5704,Dayna Lynne North,"""You Think You Know Somebody""",5,2.73,5,Nick Gomez,1.00,2004-10-26 00:00:00
5,2T5705,Story by : Rob Thomas Teleplay by : Phil Klemmer,"""Return of the Kane""",6,2.86,6,Sarah Pia Anderson,1.00,2004-11-02 00:00:00
6,2T5706,Story by : Jed Seidel Teleplay by : Jed Seidel...,"""The Girl Next Door""",7,2.74,7,Nick Marck,1.00,2004-11-09 00:00:00
7,2T5707,Aury Wallington,"""Like a Virgin""",8,2.76,8,Guy Bee,1.00,2004-11-23 00:00:00
8,2T5708,Story by : Rob Thomas Teleplay by : Russell Smith,"""Drinking the Kool-Aid""",9,2.4,9,Marcos Siega,1.00,2004-11-30 00:00:00
9,2T5710,Diane Ruggiero,"""An Echolls Family Christmas""",10,1.9,10,Nick Marck,1.00,2004-12-14 00:00:00
10,2T5709,Jed Seidel & Dayna Lynne North,"""Silence of the Lamb""",11,2.84,11,John Kretchmer,1.00,2005-01-04 00:00:00
11,2T5711,Phil Klemmer & Aury Wallington,"""Clash of the Tritons""",12,2.91,12,David Barrett,1.00,2005-01-11 00:00:00
12,2T5712,John Enbom,"""Lord of the Bling""",13,2.97,13,Steve Gomer,1.00,2005-02-08 00:00:00
13,2T5713,Story by : Rob Thomas Teleplay by : Jed Seidel...,"""Mars vs. Mars""",14,2.7,14,Marcos Siega,1.00,2005-02-15 00:00:00
14,2T5714,Phil Klemmer & John Enbom,"""Ruskie Business""",15,2.34,15,Guy Bee,1.00,2005-02-22 00:00:00
15,2T5715,Diane Ruggiero,"""Betty and Veronica""",16,2.33,16,Michael Fields,1.00,2005-03-29 00:00:00
16,2T5716,Carolyn Murray,"""Kanes and Abel's""",17,2.78,17,Nick Marck,1.00,2005-04-05 00:00:00
17,2T5717,Jed Seidel,"""Weapons of Class Destruction""",18,2.3,18,John Kretchmer,1.00,2005-04-12 00:00:00
18,2T5718,Dayna Lynne North,"""Hot Dogs""",19,2.48,19,Nick Marck,1.00,2005-04-19 00:00:00
19,2T5719,Phil Klemmer & John Enbom,"""M.A.D.""",20,3.04,20,John Kretchmer,1.00,2005-04-26 00:00:00
20,2T5720,Diane Ruggiero,"""A Trip to the Dentist""",21,2.85,21,Marcos Siega,1.00,2005-05-03 00:00:00
21,2T5721,Story by : Rob Thomas Teleplay by : Rob Thomas...,"""Leave It to Beaver""",22,2.99,22,Michael Fields,1.00,2005-05-10 00:00:00
0,2005-09-28 00:00:00,John Kretchmer,1,23,2T7201,2,"""Normal Is the Watchword""",3.29,Rob Thomas
1,2005-10-05 00:00:00,Nick Marck,2,24,2T7202,2,"""Driver Ed""",2.73,Diane Ruggiero
2,2005-10-12 00:00:00,John Kretchmer,3,25,2T7203,2,"""Cheatty Cheatty Bang Bang""",3.03,Phil Klemmer & John Enbom
3,2005-10-19 00:00:00,Jason Bloom,4,26,2T7204,2,"""Green-Eyed Monster""",3.05,Dayna Lynne North
4,2005-10-26 00:00:00,Harry Winer,5,27,2T7205,2,"""Blast from the Past""",3.58,Phil Klemmer & Cathy Belben
5,2005-11-09 00:00:00,Kevin Bray,6,28,2T7206,2,"""Rat Saw God""",3.07,John Enbom & Phil Klemmer
6,2005-11-16 00:00:00,Nick Marck,7,29,2T7207,2,"""Nobody Puts Baby in a Corner""",2.94,Diane Ruggiero
7,2005-11-23 00:00:00,Steve Gomer,8,30,2T7208,2,"""Ahoy, Mateys!""",2.50,John Enbom & Cathy Belben
8,2005-11-30 00:00:00,Nick Marck,9,31,2T7209,2,"""My Mother, the Fiend""",2.82,Phil Klemmer & Dayna Lynne North
9,2005-12-07 00:00:00,John Kretchmer,10,32,2T7210,2,"""One Angry Veronica""",3.42,Russell Smith
10,2006-01-25 00:00:00,Rob Thomas,11,33,2T7211,2,"""Donut Run""",1.62,Rob Thomas
11,2006-02-01 00:00:00,John Kretchmer,12,34,2T7212,2,"""Rashard and Wallace Go to White Castle""",2.12,John Enbom
12,2006-02-08 00:00:00,Guy Bee,13,35,2T7213,2,"""Ain't No Magic Mountain High Enough""",2.05,Diane Ruggiero
13,2006-03-15 00:00:00,Sarah Pia Anderson,14,36,2T7214,2,"""Versatile Toppings""",2.73,Phil Klemmer
14,2006-03-22 00:00:00,Rick Rosenthal,15,37,2T7215,2,"""The Quick and the Wed""",2.34,John Serge
15,2006-03-29 00:00:00,Michael Fields,16,38,2T7216,2,"""The Rapes of Graff""",2.15,John Enbom
16,2006-04-05 00:00:00,John Kretchmer,17,39,2T7217,2,"""Plan B""",2.85,Dayna Lynne North
17,2006-04-11 00:00:00,Martha Mitchell,18,40,2T7218,2,"""I Am God""",1.76,Diane Ruggiero & Cathy Belben
18,2006-04-18 00:00:00,Jason Bloom,19,41,2T7219,2,"""Nevermind the Buttocks""",1.91,Phil Klemmer
19,2006-04-25 00:00:00,Michael Fields,20,42,2T7220,2,"""Look Who's Stalking""",1.85,John Enbom
20,2006-05-02 00:00:00,Steve Gomer,21,43,2T7221,2,"""Happy Go Lucky""",2.09,Diane Ruggiero
21,2006-05-09 00:00:00,John Kretchmer,22,44,2T7222,2,"""Not Pictured""",2.42,Story by : Rob Thomas Teleplay by : Rob Thomas...

In [87]:
#create single frame