# Pandas II: Slice and Dice

In [1]:
import pandas as pd

In [2]:
gapminder = pd.read_csv('data/gapminder_gdp_africa.csv')

In [3]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 13 columns):
country           52 non-null object
gdpPercap_1952    52 non-null float64
gdpPercap_1957    52 non-null float64
gdpPercap_1962    52 non-null float64
gdpPercap_1967    52 non-null float64
gdpPercap_1972    52 non-null float64
gdpPercap_1977    52 non-null float64
gdpPercap_1982    52 non-null float64
gdpPercap_1987    52 non-null float64
gdpPercap_1992    52 non-null float64
gdpPercap_1997    52 non-null float64
gdpPercap_2002    52 non-null float64
gdpPercap_2007    52 non-null float64
dtypes: float64(12), object(1)
memory usage: 5.4+ KB

In [4]:
gapminder.head()

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
1,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
2,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
3,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
4,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

In [5]:
gapminder = pd.read_csv('data/gapminder_gdp_africa.csv', index_col = 'country')

In [6]:
gapminder.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,1191.207681,1232.975292,1372.877931,1441.284873
Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,7954.111645,8647.142313,11003.605080,12569.851770
Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,931.752773,946.294962,1037.645221,1217.032994

### `.iloc`

Select values based on position.

In [7]:
gapminder.iloc[0, 0]

2449.008185

In [8]:
gapminder.iloc[:, 0]

country
Algeria                     2449.008185
Angola                      3520.610273
Benin                       1062.752200
Botswana                     851.241141
Burkina Faso                 543.255241
Burundi                      339.296459
Cameroon                    1172.667655
Central African Republic    1071.310713
Chad                        1178.665927
Comoros                     1102.990936
Congo Dem. Rep.              780.542326
Congo Rep.                  2125.621418
Cote d'Ivoire               1388.594732
Djibouti                    2669.529475
Egypt                       1418.822445
Equatorial Guinea            375.643123
Eritrea                      328.940557
Ethiopia                     362.146280
Gabon                       4293.476475
Gambia                       485.230659
Ghana                        911.298937
Guinea                       510.196492
Guinea-Bissau                299.850319
Kenya                        853.540919
Lesotho                      298.846212
Liberia                      575.572996
Libya                       2387.548060
Madagascar                  1443.011715
Malawi                       369.165080
Mali                         452.336981
Mauritania                   743.115910
Mauritius                   1967.955707
Morocco                     1688.203570
Mozambique                   468.526038
Namibia                     2423.780443
Niger                        761.879376
Nigeria                     1077.281856
Reunion                     2718.885295
Rwanda                       493.323875
Sao Tome and Principe        879.583586
Senegal                     1450.356983
Sierra Leone                 879.787736
Somalia                     1135.749842
South Africa                4725.295531
Sudan                       1615.991129
Swaziland                   1148.376626
Tanzania                     716.650072
Togo                         859.808657
Tunisia                     1468.475631
Uganda                       734.753484
Zambia                      1147.388831
Zimbabwe                     406.884115
Name: gdpPercap_1952, dtype: float64

In [9]:
gapminder.iloc[:3, :4]

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Algeria     2449.008185     3013.976023     2550.816880     3246.991771
Angola      3520.610273     3827.940465     4269.276742     5522.776375
Benin       1062.752200      959.601080      949.499064     1035.831411

### `.loc` selects values by label

In [10]:
gapminder.loc["Zambia", "gdpPercap_1957"]

1311.956766

In [11]:
gapminder.loc['Togo': 'Zambia', 'gdpPercap_1952': 'gdpPercap_1967']

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Togo         859.808657      925.908320     1067.534810     1477.596760
Tunisia     1468.475631     1395.232468     1660.303210     1932.360167
Uganda       734.753484      774.371069      767.271740      908.918522
Zambia      1147.388831     1311.956766     1452.725766     1777.077318

In [12]:
type(gapminder.loc['Togo': 'Zambia', 'gdpPercap_1952': 'gdpPercap_1967'])

pandas.core.frame.DataFrame

In [13]:
subset = gapminder.loc['Togo': 'Zambia', 'gdpPercap_1952': 'gdpPercap_1967']

In [14]:
subset > 1000

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Togo              False           False            True            True
Tunisia            True            True            True            True
Uganda            False           False           False           False
Zambia             True            True            True            True

In [15]:
mask = subset > 1_000
subset[mask]

         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962  gdpPercap_1967
country
Togo                NaN             NaN     1067.534810     1477.596760
Tunisia     1468.475631     1395.232468     1660.303210     1932.360167
Uganda              NaN             NaN             NaN             NaN
Zambia      1147.388831     1311.956766     1452.725766     1777.077318

In [16]:
gapminder.loc[gapminder['gdpPercap_1972'] > 4000]

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,5023.216647,4797.295051,5288.040382,6223.367465
Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,2627.845685,2277.140884,2773.287312,4797.231267
Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,13522.157520,14722.841880,12521.713920,13206.484520
Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,9640.138501,9467.446056,9534.677467,12057.499280
Reunion,2718.885295,2769.451844,3173.723340,4021.175739,5047.658563,4319.804067,5267.219353,5303.377488,6101.255823,6071.941411,6316.165200,7670.122558
South Africa,4725.295531,5487.104219,5768.729717,7114.477971,7765.962636,8028.651439,8568.266228,7825.823398,7225.069258,7479.188244,7710.946444,9269.657808

### PROBLEMS

1. Use the example below to determine the Per Capita GDP of France in 2007.

In [31]:
import pandas as pd

df = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

In [33]:
df.loc['France', 'gdpPercap_2007']

30470.0167

2. Is there a difference between the two statements below?  What does this mean for numerical vs. named slices in Pandas.

In [18]:
print(df.iloc[0:2, 0:2])
print(df.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])

         gdpPercap_1952  gdpPercap_1957
country
Albania     1601.056136     1942.284244
Austria     6137.076492     8842.598030
         gdpPercap_1952  gdpPercap_1957  gdpPercap_1962
country
Albania     1601.056136     1942.284244     2312.888958
Austria     6137.076492     8842.598030    10750.721110
Belgium     8343.105127     9714.960623    10991.206760

3. Write comments explaining what each line of the below program does.

In [19]:
first = pd.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

4. Explain what `idxmin` and `idxmax` do, and when you might use these methods.

In [20]:
data = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')
print(data.idxmin())
print(data.idxmax())

gdpPercap_1952    Bosnia and Herzegovina
gdpPercap_1957    Bosnia and Herzegovina
gdpPercap_1962    Bosnia and Herzegovina
gdpPercap_1967    Bosnia and Herzegovina
gdpPercap_1972    Bosnia and Herzegovina
gdpPercap_1977    Bosnia and Herzegovina
gdpPercap_1982                   Albania
gdpPercap_1987                   Albania
gdpPercap_1992                   Albania
gdpPercap_1997                   Albania
gdpPercap_2002                   Albania
gdpPercap_2007                   Albania
dtype: object
gdpPercap_1952    Switzerland
gdpPercap_1957    Switzerland
gdpPercap_1962    Switzerland
gdpPercap_1967    Switzerland
gdpPercap_1972    Switzerland
gdpPercap_1977    Switzerland
gdpPercap_1982    Switzerland
gdpPercap_1987         Norway
gdpPercap_1992         Norway
gdpPercap_1997         Norway
gdpPercap_2002         Norway
gdpPercap_2007         Norway
dtype: object

5. Assume Pandas has been imported and the Gapminder GDP data for Europe has been loaded. Write an expression to select each of the following:

- GDP per capita for all countries in 1982.
- GDP per capita for Denmark for all years.
- GDP per capita for all countries for years after 1985.
- GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [21]:
data.head()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.003910,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.422300,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700
Belgium,8343.105127,9714.960623,10991.206760,13149.041190,16672.143560,19117.974480,20979.845890,22525.563080,25575.570690,27561.196630,30485.883750,33692.605080
Bosnia and Herzegovina,973.533195,1353.989176,1709.683679,2172.352423,2860.169750,3528.481305,4126.613157,4314.114757,2546.781445,4766.355904,6018.975239,7446.298803
Bulgaria,2444.286648,3008.670727,4254.337839,5577.002800,6597.494398,7612.240438,8224.191647,8239.854824,6302.623438,5970.388760,7696.777725,10680.792820

In [23]:
data.loc[:, 'gdpPercap_1982'].head(2)

country
Albania     3630.880722
Austria    21597.083620
Name: gdpPercap_1982, dtype: float64

In [25]:
data.loc['Denmark', :].head(2)

gdpPercap_1952     9692.385245
gdpPercap_1957    11099.659350
Name: Denmark, dtype: float64

In [28]:
data.loc[:, 'gdpPercap_1987': ].head(2)

,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,
Albania,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700

In [29]:
mults = data['gdpPercap_2007']/data['gdpPercap_1952']

In [34]:
mults.nlargest(10)

country
Ireland                   7.806873
Greece                    7.799725
Bosnia and Herzegovina    7.648736
Spain                     7.517163
Portugal                  6.684325
Slovenia                  6.113405
Austria                   5.886596
Italy                     5.793425
Finland                   5.168805
Iceland                   4.978308
dtype: float64