# Conditionals and Control Flow

### Review

**DATA TYPES**

- `str`: Strings -- anything enclosed in `''` or `""`.
- `int`: Whole numbers such as `12`, `8`, or `3`.
- `float`: Decimal valued numbers such as `4.3` or `2.`
- `bool`: `True` or `False`

**COLLECTIONS**

- `list`: Mutable, ordered -- `[3, 2, 'a', True]`
- `tuple`: Immutable, ordered -- `(4, 3, 'b', False)`
- `dict`: Mutable, key/value pairs -- `{'names': ['a', 'b', 'c'],'number': [1, 2, 4]}`
- `set`: Mutable and ordered -- `{'A', 'A', 'B', 'C', 'B'} --> {'A', 'B', 'C'}`

In [1]:
test_string = '''You may notice certain things before you die. 
Mail them to me should they cause your algebra to fail.'''

In [7]:
### Return test_string with every character in upper-case.
print(test_string.upper())

YOU MAY NOTICE CERTAIN THINGS BEFORE YOU DIE.
MAIL THEM TO ME SHOULD THEY CAUSE YOUR ALGEBRA TO FAIL.

In [11]:
print('This will skip \n a \t line')

This will skip
 a 	 line

In [12]:
### Return the character that is 15th from the end of test_string.
test_string[-15]

'l'

In [13]:
len(test_string) - 15

87

In [14]:
test_string[87]

'l'

In [16]:
test_string.lower()

'you may notice certain things before you die. \nmail them to me should they cause your algebra to fail.'

In [24]:
### Replace every "t" - upper and lower case - in test string with a "*".
test_string.replace('t', '*', 2).replace("T", '*').replace('s', '*')

'You may no*ice cer*ain things before you die. \nMail them to me should they cause your algebra to fail.'

In [29]:
### Count the number of times the lower-case letter "y", 
### and upper-case letter "M" appears in test_string.
test_string.count('y') + test_string.count("M")

5

In [30]:
test_string.replace?

Signature: test_string.replace(old, new, count=-1, /)
Docstring:
Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.
Type:      builtin_function_or_method

### Conditional Statements

- `==`: are two things the same
- `<`: less than
- `>`: greater than
- `!=`: not equal
- `<=`, `>=`; less than/greater than or equal to

In [31]:
ex = 4

In [32]:
ex == 5

False

In [33]:
5 > ex

True

In [34]:
ex != 10

True

In [35]:
input("Please enter your year of birth")

Please enter your year of birth 1979

'1979'

In [36]:
x = input("Please enter your year of birth")

Please enter your year of birth 1979

In [37]:
#what kind of a thing is x?
type(x)

str

In [38]:
#convert to appropriate kind -- bind to year_of_birth
year_of_birth = int(x)

In [39]:
type(year_of_birth)

int

In [41]:
#if the year of birth is more than 100 years ago ...
year_of_birth < 1920

False

> *Millennials, also known as Generation Y (or simply Gen Y), are the demographic cohort following Generation X and preceding Generation Z. Researchers and popular media use the early 1980s as starting birth years and the mid-1990s to early 2000s as ending birth years, with 1981 to 1996 a widely accepted definition.*

In [47]:
#are they a millenial? otherwise they must be something else...
year_of_birth = 1920
if year_of_birth > 1981 and year_of_birth < 1996:
    print('millenial')
else:
    print('not a millenial')

not a millenial

In [48]:
if year_of_birth > 1981 and year_of_birth < 1996:
    print('millenial')
elif  year_of_birth > 1970 and year_of_birth < 1981:
    print('generation x')
elif year_of_birth > 1950:
    print('boomer')
else:
    print('not a millenial or a gen xer')

not a millenial or a gen xer

##### Problem

<center>
    <img src = https://upload.wikimedia.org/wikipedia/en/3/3e/The_Bachelor_usa_logo.png width = 30% />
    </center>

Create a yes/no question asking if somebody watches the bachelor, bind to the variable `bachelor`.  If the person does watch the bachelor, return the string `"bachelor watcher"` otherwise return `"possible bachelor watcher"`.

In [51]:
bachelor.lower

In [49]:
bachelor = input("You watch the bachelor?")

You watch the bachelor? no

In [52]:
min(3, 2, 6)

2

In [50]:
if bachelor == 'yes' or bachelor == 'Yes':
    print('bachelor watcher')
else:
    print('possible bachelor watcher')

possible bachelor watcher

### `for` loops

In [43]:
for number in [2, 4, 6]:
    print(number)

2
4
6

In [54]:
for number in [2, 4, 6]:
    print(number)

2
4
6

Like with `UNIX`, the loop variable can be called anything.

In [55]:
for bachelor in [3, 5, 6]:
    print(bachelor)

3
5
6

In [56]:
bachelor

6

### The `range` function 

`range(n)` creates an iterable of numbers 0, 1, 2, ..., n-1.

In [58]:
for num in range(1,10,2):
    print(num)

1
3
5
7
9

In [59]:
total = 0
for number in range(5):
    total = total + number
print(total)

10

In [60]:
total = 0
for number in range(5):
    total += number
print(total)

10

**PROBLEM**

1. Fill in the blanks to produce correct results:


```python
# Total length of the strings in the list: ["red", "green", "blue"] => 12
total = 0
for word in ["red", "green", "blue"]:
    ____ = ____ + len(word)
print(total)
```


```python
# List of word lengths: ["red", "green", "blue"] => [3, 5, 4]
lengths = ____
for word in ["red", "green", "blue"]:
    lengths.____(____)
print(lengths)
```


```python
# Concatenate all words: ["red", "green", "blue"] => "redgreenblue"
words = ["red", "green", "blue"]
result = ____
for ____ in ____:
    ____
print(result)
```

In [61]:
total = 0
for word in ["red", "green", "blue"]:
    total = total + len(word)
    #or total += len(word)
print(total)

12

In [62]:
lengths = []
for word in ["red", "green", "blue"]:
    lengths.append(len(word))
print(lengths)

[3, 5, 4]

In [64]:
lengths_b = [len(word) for word in ['red', 'green', 'blue']]

In [65]:
words = ["red", "green", "blue"]
result = ""
for word in words:
    result += word
print(result)

redgreenblue

2. Reorder and properly indent the lines of code below so that they print a list with the cumulative sum of data. The result should be [1, 3, 5, 10].

```python
cumulative.append(sum)
for number in data:
cumulative = []
sum += number
sum = 0
print(cumulative)
data = [1,2,2,5]
```

In [71]:
data = [1, 2, 2, 5]
cumulative = []
sum = 0
for number in data:
    sum += number
    cumulative.append(sum)
    print(cumulative)

[1]
[1, 3]
[1, 3, 5]
[1, 3, 5, 10]

In [68]:
del sum

In [70]:
sum([2, 3, 4])

9

3. 
 - Read the code below and try to identify what the errors are without running it.
 - Run the code and read the error message. What type of `NameError` do you think this is? Is it a string with no quotes, a misspelled variable, or a variable that should have been defined but was not? 
  - Fix the error. 
  - Repeat steps 2 and 3, until you have fixed all the errors.

```python
for number in range(10):
    # use a if the number is a multiple of 3, otherwise use b
    if (Number % 3) == 0:
        message = message + a
    else:
        message = message + "b"
print(message)
```

4.
 - Read the code below and try to identify what the errors are without running it.
 - Run the code, and read the error message. What type of error is it?
 - Fix the error.

```python
seasons = ['Spring', 'Summer', 'Fall', 'Winter']
print('My favorite season is ', seasons[4])
```

### Libraries

<center>
    <img src = images/os_library.png />
    </center>

In [72]:
import os

In [49]:
os.listdir()

['Untitled.ipynb',
 '01_control_flow.ipynb',
 'bachelor.json',
 'README.md',
 '.ipynb_checkpoints']

In [73]:
import math

In [51]:
print(f'Pi is {math.pi}')

Pi is 3.141592653589793

In [75]:
#help(math)

In [76]:
import numpy as mom

In [77]:
mom.pi

3.141592653589793

In [56]:
np.sin(np.pi)

1.2246467991473532e-16

 - Fill in the blanks so that the program below prints 90.0.
 - Rewrite the program so that it uses import without as.
 - Which form do you find easier to read?

```python
import math as m
angle = ____.degrees(____.pi / 2)
print(____)
```

In [78]:
import math as m
angle = m.degrees(m.pi / 2)
print(angle)

90.0