# Functions

<center>
    <img src = http://s3.amazonaws.com/illustrativemathematics/images/000/000/782/medium/Task_1_8c7a6a9a2e1421586c40f125bd783de3.jpg?1335065782 />
    </center>

In [1]:
def hi():
    print('Hello World!')

In [2]:
hi

In [3]:
hi()

Hello World!

### Arguments

In [4]:
def birth_date(month, day, year):
    bday = str(month) + '/' + str(day) + '/' + str(year)
    print(bday)

In [5]:
birth_date(month = 11, day = 5, year = 1979)

11/5/1979

In [6]:
birth_date(11, 5, 1979)

11/5/1979

##### The `return` statement

We use the `return` statement to return an object to the user after invoking a function.

In [16]:
#just printing a result
def birth_date(month, day, year):
    bday = str(month) + '/' + str(day) + '/' + str(year)
    print(bday)

In [7]:
#save and investigate
bdate = birth_date(11, 5, 1979)
type(bdate)

11/5/1979

NoneType

In [12]:
#use return instead
def birth_date(month, day, year):
    bday = str(month) + '/' + str(day) + '/' + str(year)
    return bday
print('steve')

steve

In [11]:
bdate = birth_date(11, 5, 1979)
type(bdate)

str

**PROBLEM**


<div class="alert alert-primary" role="alert">
    Fill in the blanks to create a function that takes a list of numbers as an argument and returns the first negative value in the list. What does your function do if the list is empty?

<br>
    $$~$$
    
```python
def first_negative(values):
    for v in ____:
        if ____:
            return ____
```
</div>

In [13]:
test_list = [8, 1, -4, 8, -1]

In [20]:
def first_negative(list_of_numbers):
    '''
    This function takes in a list and 
    returns the first negative number in 
    list.
    
    Arguments
    ---------
    list_of_numbers: list type
    
    Returns
    -------
    int type, smallest value in list
    '''
    #loop over the list of numbers
    for num in list_of_numbers:
        if num < 0: #check if number is negative
            print(num) #print the number
            return num  #return the number

In [19]:
first_negative(test_list)

-4

-4

In [21]:
import random

In [22]:
random.randint(1, 40)

29

The code below will run on a label-printer for chicken eggs. A digital scale will report a chicken egg mass (in grams) to the computer and then the computer will print a label.

Please re-write the code so that the if-block is folded into a function.

```python
import random
 for i in range(10):

    # simulating audience ages
    age=35+random.randint(1, 40)*-1**i

    print(age)
   
    #egg sizing machinery prints a label
    if(age>=65):
       print("Night Court")
    elif(age>=50):
       print("The Bachelor")
    elif(age<50 and age>=35):
       print("The Bachelorette")
    else:
       print("Seinfeld")
```

The simplified program follows. What function definition will make it functional?

```python

# revised version
import random
for i in range(10):

    # simulating audience ages
    age=35+random.randint(1, 40)*-1**i

    print(age,print_age_label(age))  
```

1. Create a function definition for print_age_label() that will work with the revised program above. 
2. A viewer might be between 18 and 35 or 11 and 18.  Accordingly, we recommend `Last Week Tonight` and `Sportscenter` to each of these groups.  We still want to recommend Seinfeld to anyone we don't have in our brackets.  Modify your function to account for this.

### Pandas Library

In [21]:
import pandas as pd

In [22]:
import os

In [23]:
os.listdir('data')

['gapminder_gdp_americas.csv',
 'gapminder_gdp_europe.csv',
 'gapminder_all.csv',
 'gapminder_gdp_oceania.csv',
 'gapminder_gdp_africa.csv',
 'gapminder_gdp_asia.csv']

In [25]:
data = pd.read_csv('data/gapminder_gdp_oceania.csv')
data

,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Australia,10039.59564,10949.64959,12217.22686,14526.12465,16788.62948,18334.19751,19477.00928,21888.88903,23424.76683,26997.93657,30687.75473,34435.36744
1,New Zealand,10556.57566,12247.39532,13175.67800,14463.91893,16046.03728,16233.71770,17632.41040,19007.19129,18363.32494,21050.41377,23189.80135,25185.00911

In [26]:
type(data)

pandas.core.frame.DataFrame

### Overview of data with `.info()`

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 13 columns):
country           2 non-null object
gdpPercap_1952    2 non-null float64
gdpPercap_1957    2 non-null float64
gdpPercap_1962    2 non-null float64
gdpPercap_1967    2 non-null float64
gdpPercap_1972    2 non-null float64
gdpPercap_1977    2 non-null float64
gdpPercap_1982    2 non-null float64
gdpPercap_1987    2 non-null float64
gdpPercap_1992    2 non-null float64
gdpPercap_1997    2 non-null float64
gdpPercap_2002    2 non-null float64
gdpPercap_2007    2 non-null float64
dtypes: float64(12), object(1)
memory usage: 336.0+ bytes

In [28]:
#columns
data.columns

Index(['country', 'gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962',
       'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982',
       'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002',
       'gdpPercap_2007'],
      dtype='object')

In [29]:
#describe
data.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,2.000000,2.000000,2.000000,2.000000,2.00000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000
mean,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
std,365.560078,917.644806,677.727301,43.986086,525.09198,1485.263517,1304.328377,2037.668013,3578.979883,4205.533703,5301.853680,6540.991104
min,10039.595640,10949.649590,12217.226860,14463.918930,16046.03728,16233.717700,17632.410400,19007.191290,18363.324940,21050.413770,23189.801350,25185.009110
25%,10168.840645,11274.086022,12456.839645,14479.470360,16231.68533,16758.837652,18093.560120,19727.615725,19628.685413,22537.294470,25064.289695,27497.598692
50%,10298.085650,11598.522455,12696.452430,14495.021790,16417.33338,17283.957605,18554.709840,20448.040160,20894.045885,24024.175170,26938.778040,29810.188275
75%,10427.330655,11922.958888,12936.065215,14510.573220,16602.98143,17809.077557,19015.859560,21168.464595,22159.406358,25511.055870,28813.266385,32122.777857
max,10556.575660,12247.395320,13175.678000,14526.124650,16788.62948,18334.197510,19477.009280,21888.889030,23424.766830,26997.936570,30687.754730,34435.367440

In [32]:
data2 = pd.read_csv('data/gapminder_all.csv')

In [34]:
data2.

Index(['continent', 'country', 'gdpPercap_1952', 'gdpPercap_1957',
       'gdpPercap_1962', 'gdpPercap_1967', 'gdpPercap_1972', 'gdpPercap_1977',
       'gdpPercap_1982', 'gdpPercap_1987', 'gdpPercap_1992', 'gdpPercap_1997',
       'gdpPercap_2002', 'gdpPercap_2007', 'lifeExp_1952', 'lifeExp_1957',
       'lifeExp_1962', 'lifeExp_1967', 'lifeExp_1972', 'lifeExp_1977',
       'lifeExp_1982', 'lifeExp_1987', 'lifeExp_1992', 'lifeExp_1997',
       'lifeExp_2002', 'lifeExp_2007', 'pop_1952', 'pop_1957', 'pop_1962',
       'pop_1967', 'pop_1972', 'pop_1977', 'pop_1982', 'pop_1987', 'pop_1992',
       'pop_1997', 'pop_2002', 'pop_2007'],
      dtype='object')

In [35]:
data2.shape

(142, 38)

In [36]:
data.shape

(2, 13)

In [31]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 38 columns):
continent         142 non-null object
country           142 non-null object
gdpPercap_1952    142 non-null float64
gdpPercap_1957    142 non-null float64
gdpPercap_1962    142 non-null float64
gdpPercap_1967    142 non-null float64
gdpPercap_1972    142 non-null float64
gdpPercap_1977    142 non-null float64
gdpPercap_1982    142 non-null float64
gdpPercap_1987    142 non-null float64
gdpPercap_1992    142 non-null float64
gdpPercap_1997    142 non-null float64
gdpPercap_2002    142 non-null float64
gdpPercap_2007    142 non-null float64
lifeExp_1952      142 non-null float64
lifeExp_1957      142 non-null float64
lifeExp_1962      142 non-null float64
lifeExp_1967      142 non-null float64
lifeExp_1972      142 non-null float64
lifeExp_1977      142 non-null float64
lifeExp_1982      142 non-null float64
lifeExp_1987      142 non-null float64
lifeExp_1992      142 non-null float64
lifeExp_1997      142 non-null float64
lifeExp_2002      142 non-null float64
lifeExp_2007      142 non-null float64
pop_1952          142 non-null float64
pop_1957          142 non-null float64
pop_1962          142 non-null float64
pop_1967          142 non-null float64
pop_1972          142 non-null float64
pop_1977          142 non-null float64
pop_1982          142 non-null float64
pop_1987          142 non-null float64
pop_1992          142 non-null float64
pop_1997          142 non-null float64
pop_2002          142 non-null int64
pop_2007          142 non-null int64
dtypes: float64(34), int64(2), object(2)
memory usage: 42.3+ KB

**PROBLEMS**

1. Read in `gapminder_gdp_americas.csv` and bind to variable `americas`.  Display the summary statistics.

In [37]:
americas = pd.read_csv('data/gapminder_gdp_americas.csv')

In [38]:
americas.describe()

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,4079.062552,4616.043733,4901.541870,5668.253496,6491.334139,7352.007126,7506.737088,7793.400261,8044.934406,8889.300863,9287.677107,11003.031625
std,3001.727522,3312.381083,3421.740569,4160.885560,4754.404329,5355.602518,5530.490471,6665.039509,7047.089191,7874.225145,8895.817785,9713.209302
min,1397.717137,1544.402995,1662.137359,1452.057666,1654.456946,1874.298931,2011.159549,1823.015995,1456.309517,1341.726931,1270.364932,1201.637154
25%,2428.237769,2487.365989,2750.364446,3242.531147,4031.408271,4756.763836,4258.503604,4140.442097,4439.450840,4684.313807,4858.347495,5728.353514
50%,3048.302900,3780.546651,4086.114078,4643.393534,5305.445256,6281.290855,6434.501797,6360.943444,6618.743050,7113.692252,6994.774861,8948.102923
75%,3939.978789,4756.525781,5180.755910,5788.093330,6809.406690,7674.929108,8997.897412,7807.095818,8137.004775,9767.297530,8797.640716,11977.574960
max,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090

2. What does the `.head()` and `.tail()` method do?  (Try it out with `americas.head()` or `americas.tail()`.

In [40]:
americas.head(3)

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
0,Americas,Argentina,5911.315053,6856.856212,7133.166023,8052.953021,9443.038526,10079.026740,8997.897412,9139.671389,9308.418710,10967.281950,8797.640716,12779.379640
1,Americas,Bolivia,2677.326347,2127.686326,2180.972546,2586.886053,2980.331339,3548.097832,3156.510452,2753.691490,2961.699694,3326.143191,3413.262690,3822.137084
2,Americas,Brazil,2108.944355,2487.365989,3336.585802,3429.864357,4985.711467,6660.118654,7030.835878,7807.095818,6950.283021,7957.980824,8131.212843,9065.800825

In [42]:
americas.tail(10)

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
15,Americas,Mexico,3478.125529,4131.546641,4581.609385,5754.733883,6809.406690,7674.929108,9611.147541,8688.156003,9472.384295,9767.297530,10742.440530,11977.574960
16,Americas,Nicaragua,3112.363948,3457.415947,3634.364406,4643.393534,4688.593267,5486.371089,3470.338156,2955.984375,2170.151724,2253.023004,2474.548819,2749.320965
17,Americas,Panama,2480.380334,2961.800905,3536.540301,4421.009084,5364.249663,5351.912144,7009.601598,7034.779161,6618.743050,7113.692252,7356.031934,9809.185636
18,Americas,Paraguay,1952.308701,2046.154706,2148.027146,2299.376311,2523.337977,3248.373311,4258.503604,3998.875695,4196.411078,4247.400261,3783.674243,4172.838464
19,Americas,Peru,3758.523437,4245.256698,4957.037982,5788.093330,5937.827283,6281.290855,6434.501797,6360.943444,4446.380924,5838.347657,5909.020073,7408.905561
20,Americas,Puerto Rico,3081.959785,3907.156189,5108.344630,6929.277714,9123.041742,9770.524921,10330.989150,12281.341910,14641.587110,16999.433300,18855.606180,19328.709010
21,Americas,Trinidad and Tobago,3023.271928,4100.393400,4997.523971,5621.368472,6619.551419,7899.554209,9119.528607,7388.597823,7370.990932,8792.573126,11460.600230,18008.509240
22,Americas,United States,13990.482080,14847.127120,16173.145860,19530.365570,21806.035940,24072.632130,25009.559140,29884.350410,32003.932240,35767.433030,39097.099550,42951.653090
23,Americas,Uruguay,5716.766744,6150.772969,5603.357717,5444.619620,5703.408898,6504.339663,6920.223051,7452.398969,8137.004775,9230.240708,7727.002004,10611.462990
24,Americas,Venezuela,7689.799761,9802.466526,8422.974165,9541.474188,10505.259660,13143.950950,11152.410110,9883.584648,10733.926310,10165.495180,8605.047831,11415.805690

### Basic Data Analysis

- Select columns
- Select rows
- Select subsets of columns
- Select subsets of rows
- Select elements based on conditions

In [43]:
#read in data in gapminder_all.csv
gap_all = pd.read_csv('data/gapminder_all.csv')

In [44]:
#examine data
gap_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 38 columns):
continent         142 non-null object
country           142 non-null object
gdpPercap_1952    142 non-null float64
gdpPercap_1957    142 non-null float64
gdpPercap_1962    142 non-null float64
gdpPercap_1967    142 non-null float64
gdpPercap_1972    142 non-null float64
gdpPercap_1977    142 non-null float64
gdpPercap_1982    142 non-null float64
gdpPercap_1987    142 non-null float64
gdpPercap_1992    142 non-null float64
gdpPercap_1997    142 non-null float64
gdpPercap_2002    142 non-null float64
gdpPercap_2007    142 non-null float64
lifeExp_1952      142 non-null float64
lifeExp_1957      142 non-null float64
lifeExp_1962      142 non-null float64
lifeExp_1967      142 non-null float64
lifeExp_1972      142 non-null float64
lifeExp_1977      142 non-null float64
lifeExp_1982      142 non-null float64
lifeExp_1987      142 non-null float64
lifeExp_1992      142 non-null float64
lifeExp_1997      142 non-null float64
lifeExp_2002      142 non-null float64
lifeExp_2007      142 non-null float64
pop_1952          142 non-null float64
pop_1957          142 non-null float64
pop_1962          142 non-null float64
pop_1967          142 non-null float64
pop_1972          142 non-null float64
pop_1977          142 non-null float64
pop_1982          142 non-null float64
pop_1987          142 non-null float64
pop_1992          142 non-null float64
pop_1997          142 non-null float64
pop_2002          142 non-null int64
pop_2007          142 non-null int64
dtypes: float64(34), int64(2), object(2)
memory usage: 42.3+ KB

In [45]:
#select country column
gap_all['country']

0             Algeria
1              Angola
2               Benin
3            Botswana
4        Burkina Faso
            ...
137       Switzerland
138            Turkey
139    United Kingdom
140         Australia
141       New Zealand
Name: country, Length: 142, dtype: object

In [46]:
#select country and continents

gap_all[['country', 'continent']]

            country continent
0           Algeria    Africa
1            Angola    Africa
2             Benin    Africa
3          Botswana    Africa
4      Burkina Faso    Africa
..              ...       ...
137     Switzerland    Europe
138          Turkey    Europe
139  United Kingdom    Europe
140       Australia   Oceania
141     New Zealand   Oceania

[142 rows x 2 columns]

In [48]:
#select rows by index
gap_all.iloc[10:13]

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
10,Africa,Congo Dem. Rep.,780.542326,905.860230,896.314634,861.593242,904.896069,795.757282,673.747818,672.774812,...,17486434.0,19941073.0,23007669.0,26480870.0,30646495.0,35481645.0,41672143.0,47798986.0,55379852,64606759
11,Africa,Congo Rep.,2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,...,1047924.0,1179760.0,1340458.0,1536769.0,1774735.0,2064095.0,2409073.0,2800947.0,3328795,3800610
12,Africa,Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,...,3832408.0,4744870.0,6071696.0,7459574.0,9025951.0,10761098.0,12772596.0,14625967.0,16252726,18013409

In [49]:
#select rows by condition
gap_all.loc[gap_all['continent'] == 'Africa']

,continent,country,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,...,pop_1962,pop_1967,pop_1972,pop_1977,pop_1982,pop_1987,pop_1992,pop_1997,pop_2002,pop_2007
0,Africa,Algeria,2449.008185,3013.976023,2550.816880,3246.991771,4182.663766,4910.416756,5745.160213,5681.358539,...,11000948.0,12760499.0,14760787.0,17152804.0,20033753.0,23254956.0,26298373.0,29072015.0,31287142,33333216
1,Africa,Angola,3520.610273,3827.940465,4269.276742,5522.776375,5473.288005,3008.647355,2756.953672,2430.208311,...,4826015.0,5247469.0,5894858.0,6162675.0,7016384.0,7874230.0,8735988.0,9875024.0,10866106,12420476
2,Africa,Benin,1062.752200,959.601080,949.499064,1035.831411,1085.796879,1029.161251,1277.897616,1225.856010,...,2151895.0,2427334.0,2761407.0,3168267.0,3641603.0,4243788.0,4981671.0,6066080.0,7026113,8078314
3,Africa,Botswana,851.241141,918.232535,983.653976,1214.709294,2263.611114,3214.857818,4551.142150,6205.883850,...,512764.0,553541.0,619351.0,781472.0,970347.0,1151184.0,1342614.0,1536536.0,1630347,1639131
4,Africa,Burkina Faso,543.255241,617.183465,722.512021,794.826560,854.735976,743.387037,807.198586,912.063142,...,4919632.0,5127935.0,5433886.0,5889574.0,6634596.0,7586551.0,8878303.0,10352843.0,12251209,14326203
5,Africa,Burundi,339.296459,379.564628,355.203227,412.977514,464.099504,556.103265,559.603231,621.818819,...,2961915.0,3330989.0,3529983.0,3834415.0,4580410.0,5126023.0,5809236.0,6121610.0,7021078,8390505
6,Africa,Cameroon,1172.667655,1313.048099,1399.607441,1508.453148,1684.146528,1783.432873,2367.983282,2602.664206,...,5793633.0,6335506.0,7021028.0,7959865.0,9250831.0,10780667.0,12467171.0,14195809.0,15929988,17696293
7,Africa,Central African Republic,1071.310713,1190.844328,1193.068753,1136.056615,1070.013275,1109.374338,956.752991,844.876350,...,1523478.0,1733638.0,1927260.0,2167533.0,2476971.0,2840009.0,3265124.0,3696513.0,4048013,4369038
8,Africa,Chad,1178.665927,1308.495577,1389.817618,1196.810565,1104.103987,1133.984950,797.908101,952.386129,...,3150417.0,3495967.0,3899068.0,4388260.0,4875118.0,5498955.0,6429417.0,7562011.0,8835739,10238807
9,Africa,Comoros,1102.990936,1211.148548,1406.648278,1876.029643,1937.577675,1172.603047,1267.100083,1315.980812,...,191689.0,217378.0,250027.0,304739.0,348643.0,395114.0,454429.0,527982.0,614382,710960
10,Africa,Congo Dem. Rep.,780.542326,905.860230,896.314634,861.593242,904.896069,795.757282,673.747818,672.774812,...,17486434.0,19941073.0,23007669.0,26480870.0,30646495.0,35481645.0,41672143.0,47798986.0,55379852,64606759
11,Africa,Congo Rep.,2125.621418,2315.056572,2464.783157,2677.939642,3213.152683,3259.178978,4879.507522,4201.194937,...,1047924.0,1179760.0,1340458.0,1536769.0,1774735.0,2064095.0,2409073.0,2800947.0,3328795,3800610
12,Africa,Cote d'Ivoire,1388.594732,1500.895925,1728.869428,2052.050473,2378.201111,2517.736547,2602.710169,2156.956069,...,3832408.0,4744870.0,6071696.0,7459574.0,9025951.0,10761098.0,12772596.0,14625967.0,16252726,18013409
13,Africa,Djibouti,2669.529475,2864.969076,3020.989263,3020.050513,3694.212352,3081.761022,2879.468067,2880.102568,...,89898.0,127617.0,178848.0,228694.0,305991.0,311025.0,384156.0,417908.0,447416,496374
14,Africa,Egypt,1418.822445,1458.915272,1693.335853,1814.880728,2024.008147,2785.493582,3503.729636,3885.460710,...,28173309.0,31681188.0,34807417.0,38783863.0,45681811.0,52799062.0,59402198.0,66134291.0,73312559,80264543
15,Africa,Equatorial Guinea,375.643123,426.096408,582.841971,915.596003,672.412257,958.566812,927.825343,966.896815,...,249220.0,259864.0,277603.0,192675.0,285483.0,341244.0,387838.0,439971.0,495627,551201
16,Africa,Eritrea,328.940557,344.161886,380.995843,468.794970,514.324208,505.753808,524.875849,521.134133,...,1666618.0,1820319.0,2260187.0,2512642.0,2637297.0,2915959.0,3668440.0,4058319.0,4414865,4906585
17,Africa,Ethiopia,362.146280,378.904163,419.456416,516.118644,566.243944,556.808383,577.860747,573.741314,...,25145372.0,27860297.0,30770372.0,34617799.0,38111756.0,42999530.0,52088559.0,59861301.0,67946797,76511887
18,Africa,Gabon,4293.476475,4976.198099,6631.459222,8358.761987,11401.948410,21745.573280,15113.361940,11864.408440,...,455661.0,489004.0,537977.0,706367.0,753874.0,880397.0,985739.0,1126189.0,1299304,1454867
19,Africa,Gambia,485.230659,520.926711,599.650276,734.782912,756.086836,884.755251,835.809611,611.658861,...,374020.0,439593.0,517101.0,608274.0,715523.0,848406.0,1025384.0,1235767.0,1457766,1688359
20,Africa,Ghana,911.298937,1043.561537,1190.041118,1125.697160,1178.223708,993.223957,876.032569,847.006113,...,7355248.0,8490213.0,9354120.0,10538093.0,11400338.0,14168101.0,16278738.0,18418288.0,20550751,22873338
21,Africa,Guinea,510.196492,576.267025,686.373674,708.759541,741.666231,874.685864,857.250358,805.572472,...,3140003.0,3451418.0,3811387.0,4227026.0,4710497.0,5650262.0,6990574.0,8048834.0,8807818,9947814
22,Africa,Guinea-Bissau,299.850319,431.790457,522.034373,715.580640,820.224588,764.725963,838.123967,736.415392,...,627820.0,601287.0,625361.0,745228.0,825987.0,927524.0,1050938.0,1193708.0,1332459,1472041
23,Africa,Kenya,853.540919,944.438315,896.966373,1056.736457,1222.359968,1267.613204,1348.225791,1361.936856,...,8678557.0,10191512.0,12044785.0,14500404.0,17661452.0,21198082.0,25020539.0,28263827.0,31386842,35610177
24,Africa,Lesotho,298.846212,335.997115,411.800627,498.639026,496.581592,745.369541,797.263107,773.993214,...,893143.0,996380.0,1116779.0,1251524.0,1411807.0,1599200.0,1803195.0,1982823.0,2046772,2012649
25,Africa,Liberia,575.572996,620.969990,634.195163,713.603648,803.005454,640.322438,572.199569,506.113857,...,1112796.0,1279406.0,1482628.0,1703617.0,1956875.0,2269414.0,1912974.0,2200725.0,2814651,3193942
26,Africa,Libya,2387.548060,3448.284395,6757.030816,18772.751690,21011.497210,21951.211760,17364.275380,11770.589800,...,1441863.0,1759224.0,2183877.0,2721783.0,3344074.0,3799845.0,4364501.0,4759670.0,5368585,6036914
27,Africa,Madagascar,1443.011715,1589.202750,1643.387110,1634.047282,1748.562982,1544.228586,1302.878658,1155.441948,...,5703324.0,6334556.0,7082430.0,8007166.0,9171477.0,10568642.0,12210395.0,14165114.0,16473477,19167654
28,Africa,Malawi,369.165080,416.369806,427.901086,495.514781,584.621971,663.223677,632.803921,635.517363,...,3628608.0,4147252.0,4730997.0,5637246.0,6502825.0,7824747.0,10014249.0,10419991.0,11824495,13327079
29,Africa,Mali,452.336981,490.382187,496.174343,545.009887,581.368876,686.395269,618.014064,684.171558,...,4690372.0,5212416.0,5828158.0,6491649.0,6998256.0,7634008.0,8416215.0,9384984.0,10580176,12031795
30,Africa,Mauritania,743.115910,846.120261,1055.896036,1421.145193,1586.851781,1497.492223,1481.150189,1421.603576,...,1146757.0,1230542.0,1332786.0,1456688.0,1622136.0,1841240.0,2119465.0,2444741.0,2828858,3270065
31,Africa,Mauritius,1967.955707,2034.037981,2529.067487,2475.387562,2575.484158,3710.982963,3688.037739,4783.586903,...,701016.0,789309.0,851334.0,913025.0,992040.0,1042663.0,1096202.0,1149818.0,1200206,1250882
32,Africa,Morocco,1688.203570,1642.002314,1566.353493,1711.044770,1930.194975,2370.619976,2702.620356,2755.046991,...,13056604.0,14770296.0,16660670.0,18396941.0,20198730.0,22987397.0,25798239.0,28529501.0,31167783,33757175
33,Africa,Mozambique,468.526038,495.586833,556.686354,566.669154,724.917804,502.319733,462.211415,389.876185,...,7788944.0,8680909.0,9809596.0,11127868.0,12587223.0,12891952.0,13160731.0,16603334.0,18473780,19951656
34,Africa,Namibia,2423.780443,2621.448058,3173.215595,3793.694753,3746.080948,3876.485958,4191.100511,3693.731337,...,621392.0,706640.0,821782.0,977026.0,1099010.0,1278184.0,1554253.0,1774766.0,1972153,2055080
35,Africa,Niger,761.879376,835.523403,997.766113,1054.384891,954.209236,808.897073,909.722135,668.300023,...,4076008.0,4534062.0,5060262.0,5682086.0,6437188.0,7332638.0,8392818.0,9666252.0,11140655,12894865
36,Africa,Nigeria,1077.281856,1100.592563,1150.927478,1014.514104,1698.388838,1981.951806,1576.973750,1385.029563,...,41871351.0,47287752.0,53740085.0,62209173.0,73039376.0,81551520.0,93364244.0,106207839.0,119901274,135031164
37,Africa,Reunion,2718.885295,2769.451844,3173.723340,4021.175739,5047.658563,4319.804067,5267.219353,5303.377488,...,358900.0,414024.0,461633.0,492095.0,517810.0,562035.0,622191.0,684810.0,743981,798094
38,Africa,Rwanda,493.323875,540.289398,597.473073,510.963714,590.580664,670.080601,881.570647,847.991217,...,3051242.0,3451079.0,3992121.0,4657072.0,5507565.0,6349365.0,7290203.0,7212583.0,7852401,8860588
39,Africa,Sao Tome and Principe,879.583586,860.736903,1071.551119,1384.840593,1532.985254,1737.561657,1890.218117,1516.525457,...,65345.0,70787.0,76595.0,86796.0,98593.0,110812.0,125911.0,145608.0,170372,199579
40,Africa,Senegal,1450.356983,1567.653006,1654.988723,1612.404632,1597.712056,1561.769116,1518.479984,1441.720720,...,3430243.0,3965841.0,4588696.0,5260855.0,6147783.0,7171347.0,8307920.0,9535314.0,10870037,12267493
41,Africa,Sierra Leone,879.787736,1004.484437,1116.639877,1206.043465,1353.759762,1348.285159,1465.010784,1294.447788,...,2467895.0,2662190.0,2879013.0,3140897.0,3464522.0,3868905.0,4260884.0,4578212.0,5359092,6144562
42,Africa,Somalia,1135.749842,1258.147413,1369.488336,1284.733180,1254.576127,1450.992513,1176.807031,1093.244963,...,3080153.0,3428839.0,3840161.0,4353666.0,5828892.0,6921858.0,6099799.0,6633514.0,7753310,9118773
43,Africa,South Africa,4725.295531,5487.104219,5768.729717,7114.477971,7765.962636,8028.651439,8568.266228,7825.823398,...,18356657.0,20997321.0,23935810.0,27129932.0,31140029.0,35933379.0,39964159.0,42835005.0,44433622,43997828
44,Africa,Sudan,1615.991129,1770.337074,1959.593767,1687.997641,1659.652775,2202.988423,1895.544073,1507.819159,...,11183227.0,12716129.0,14597019.0,17104986.0,20367053.0,24725960.0,28227588.0,32160729.0,37090298,42292929
45,Africa,Swaziland,1148.376626,1244.708364,1856.182125,2613.101665,3364.836625,3781.410618,3895.384018,3984.839812,...,370006.0,420690.0,480105.0,551425.0,649901.0,779348.0,962344.0,1054486.0,1130269,1133066
46,Africa,Tanzania,716.650072,698.535607,722.003807,848.218657,915.985059,962.492293,874.242607,831.822079,...,10863958.0,12607312.0,14706593.0,17129565.0,19844382.0,23040630.0,26605473.0,30686889.0,34593779,38139640
47,Africa,Togo,859.808657,925.908320,1067.534810,1477.596760,1649.660188,1532.776998,1344.577953,1202.201361,...,1528098.0,1735550.0,2056351.0,2308582.0,2644765.0,3154264.0,3747553.0,4320890.0,4977378,5701579
48,Africa,Tunisia,1468.475631,1395.232468,1660.303210,1932.360167,2753.285994,3120.876811,3560.233174,3810.419296,...,4286552.0,4786986.0,5303507.0,6005061.0,6734098.0,7724976.0,8523077.0,9231669.0,9770575,10276158
49,Africa,Uganda,734.753484,774.371069,767.271740,908.918522,950.735869,843.733137,682.266227,617.724406,...,7688797.0,8900294.0,10190285.0,11457758.0,12939400.0,15283050.0,18252190.0,21210254.0,24739869,29170398
50,Africa,Zambia,1147.388831,1311.956766,1452.725766,1777.077318,1773.498265,1588.688299,1408.678565,1213.315116,...,3421000.0,3900000.0,4506497.0,5216550.0,6100407.0,7272406.0,8381163.0,9417789.0,10595811,11746035
51,Africa,Zimbabwe,406.884115,518.764268,527.272182,569.795071,799.362176,685.587682,788.855041,706.157306,...,4277736.0,4995432.0,5861135.0,6642107.0,7636524.0,9216418.0,10704340.0,11404948.0,11926563,12311143

In [ ]:
#rows by condition and selected columns

In [40]:
#read in europe with country as index

In [41]:
#select all rows for some country

In [42]:
import pandas as pd

df = pd.read_csv('data/gapminder_gdp_europe.csv', index_col='country')

1. Write an expression for the Per Capita GDP of Serbia in 2007

1. Do the two statements below produce the same output?
2. Based on this, what rule governs what is included (or not) in numerical slices and named slices in Pandas?

```python
print(df.iloc[0:2, 0:2])
print(df.loc['Albania':'Belgium', 'gdpPercap_1952':'gdpPercap_1962'])
```

3. Write comments in the following program to explain what each line does.

In [ ]:
first = pd.read_csv('data/gapminder_all.csv', index_col='country')
second = first[first['continent'] == 'Americas']
third = second.drop('Puerto Rico')
fourth = third.drop('continent', axis = 1)
fourth.to_csv('result.csv')

Import the gapminder data for Europe and write an expression to select each of the following:

- GDP per capita for all countries in 1982.
- GDP per capita for Denmark for all years.
- GDP per capita for all countries for years after 1985.
- GDP per capita for each country in 2007 as a multiple of GDP per capita for that country in 1952.

In [43]:
#GDP per capita for all countries in 1982.

In [44]:
#GDP per capita for Denmark for all years.

In [45]:
#GDP per capita for all countries for years after 1985.

In [46]:
#GDP per capita for each country in 2007 as a 
#multiple of GDP per capita for that country in 1952.

### Looping over data

In [48]:
import pandas as pd
for filename in ['data/gapminder_gdp_africa.csv', 'data/gapminder_gdp_asia.csv']:
    data = pd.read_csv(filename, index_col='country')
    print(filename, data.min())

data/gapminder_gdp_africa.csv gdpPercap_1952    298.846212
gdpPercap_1957    335.997115
gdpPercap_1962    355.203227
gdpPercap_1967    412.977514
gdpPercap_1972    464.099504
gdpPercap_1977    502.319733
gdpPercap_1982    462.211415
gdpPercap_1987    389.876185
gdpPercap_1992    410.896824
gdpPercap_1997    312.188423
gdpPercap_2002    241.165877
gdpPercap_2007    277.551859
dtype: float64
data/gapminder_gdp_asia.csv gdpPercap_1952    331.0
gdpPercap_1957    350.0
gdpPercap_1962    388.0
gdpPercap_1967    349.0
gdpPercap_1972    357.0
gdpPercap_1977    371.0
gdpPercap_1982    424.0
gdpPercap_1987    385.0
gdpPercap_1992    347.0
gdpPercap_1997    415.0
gdpPercap_2002    611.0
gdpPercap_2007    944.0
dtype: float64

In [50]:
import glob

In [52]:
#list all files matching
glob.glob('data/*.csv')

['data/gapminder_gdp_americas.csv',
 'data/gapminder_gdp_europe.csv',
 'data/gapminder_all.csv',
 'data/gapminder_gdp_oceania.csv',
 'data/gapminder_gdp_africa.csv',
 'data/gapminder_gdp_asia.csv']

In [57]:
#loop over files
for filename in glob.glob('data/gapminder_*.csv'):
    df = pd.read_csv(filename)
    print(filename, df['gdpPercap_1952'].min())

data/gapminder_gdp_americas.csv 1397.7171369999999
data/gapminder_gdp_europe.csv 973.5331947999999
data/gapminder_all.csv 298.8462121
data/gapminder_gdp_oceania.csv 10039.595640000001
data/gapminder_gdp_africa.csv 298.8462121
data/gapminder_gdp_asia.csv 331.0

In [58]:
#putting it together with a function
def gdp_min(dataframe):
    return dataframe['gdpPercap_1952'].min()

In [59]:
#write it in file
import gdp

In [60]:
for filename in glob.glob('data/gapminder_*.csv'):
    df = pd.read_csv(filename)
    print(filename, gdp.gdp_min(df))

data/gapminder_gdp_americas.csv 1397.7171369999999
data/gapminder_gdp_europe.csv 973.5331947999999
data/gapminder_all.csv 298.8462121
data/gapminder_gdp_oceania.csv 10039.595640000001
data/gapminder_gdp_africa.csv 298.8462121
data/gapminder_gdp_asia.csv 331.0

### PROBLEM

Write a program that loops over the files and creates a dictionary with a "year", "continent", "country", and "gdp" key and tracks the highest gdp per each year.