# Intro to Pandas I

<center>
    <img src = https://miro.medium.com/max/3452/1*6p6nF4_5XpHgcrYRrLYVAw.png />
    </center>

In [1]:
import pandas as pd

### Classes

A `DataFrame` is a class.

In [12]:
class MyClass:
    a = 13
    
    def f(self):
        return 'Hello World!'

In [13]:
x = MyClass()

In [14]:
def __init__(self):
    self.data = []

In [15]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed

In [16]:
dog_1 = Dog('steve', 'mutt')

In [17]:
dog_1.name

'steve'

In [18]:
dog_1.breed

'mutt'

In [19]:
class Dog:
    def __init__(self, name, breed):
        self.name = name
        self.breed = breed
        self.tricks = []
        
    def add_trick(self, trick):
        self.tricks.append(trick)

In [20]:
dog_2 = Dog('maria', 'schnauser')

In [21]:
dog_2.add_trick('roll over')

In [22]:
dog_2.tricks

['roll over']

##### PROBLEM

Create a `class` called `PugDog`.  This class should initialize with the name, weight and age of the pug, and contain methods for adding snacks to a snack list.  

Instantiate the class and add `kale` and `seitan` to your snack list.

### The Series

In [2]:
data = pd.Series([5, 3, 0, -2])

In [3]:
data

0    5
1    3
2    0
3   -2
dtype: int64

In [4]:
type(data)

pandas.core.series.Series

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data.values

array([ 5,  3,  0, -2])

In [23]:
data.isnull()

0    False
1    False
2    False
3    False
dtype: bool

In [24]:
data.index = ['a', 'b', 'c', 'd']

In [25]:
data

a    5
b    3
c    0
d   -2
dtype: int64

### The `DataFrame`

In [26]:
data = {'state': ['New York', 'New York', 'New York', 'Florida', 'Florida'],
       'year': [2008, 2010, 2011, 2008, 2010],
       'pop': [20.1, 19.4, 18.7, 10, 11]}

In [27]:
frame = pd.DataFrame(data)

In [28]:
frame

      state  year   pop
0  New York  2008  20.1
1  New York  2010  19.4
2  New York  2011  18.7
3   Florida  2008  10.0
4   Florida  2010  11.0

In [29]:
frame = pd.DataFrame(data, columns = ['year', 'state', 'pop'])

In [30]:
frame

   year     state   pop
0  2008  New York  20.1
1  2010  New York  19.4
2  2011  New York  18.7
3  2008   Florida  10.0
4  2010   Florida  11.0

In [31]:
frame['year']

0    2008
1    2010
2    2011
3    2008
4    2010
Name: year, dtype: int64

In [32]:
frame.year

0    2008
1    2010
2    2011
3    2008
4    2010
Name: year, dtype: int64

In [37]:
frame = pd.DataFrame(data, index = ['a', 'b', 'c', 'd', 'e'])

In [38]:
frame

      state  year   pop
a  New York  2008  20.1
b  New York  2010  19.4
c  New York  2011  18.7
d   Florida  2008  10.0
e   Florida  2010  11.0

### Creating DataFrames

In [39]:
#from Python objects
df = pd.DataFrame(data)

In [40]:
#from local files: .csv
gap_all = pd.read_csv('data/gapminder_all.csv')

https://data.cityofnewyork.us/Public-Safety/NYPD-Complaint-Data-Historic/qgea-i56i

In [41]:
#from urls 
nypd = pd.read_json('https://data.cityofnewyork.us/resource/qgea-i56i.json')

In [42]:
#from html tables
vmars = pd.read_html('https://en.wikipedia.org/wiki/List_of_Veronica_Mars_episodes')

In [43]:
len(vmars)

7

##### PROBLEM

- Create a DataFrame named `happy_2019` from the `2019.csv` file located in the `data` folder.  

- Create a DataFrame named `nyc_311` from the data located here: https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9

- Create a DataFrame named `del` based on Del the Funky Homosapien's discography found here: https://en.wikipedia.org/wiki/Del_the_Funky_Homosapien_discography

##### Cleaning 

<center>
    <img src = https://upload.wikimedia.org/wikipedia/commons/thumb/2/28/Veronica_Mars_2004_logo.svg/600px-Veronica_Mars_2004_logo.svg.png width = 50%/>
    </center>

In [48]:
#season 1 episodes
season_1 = vmars[1]

In [50]:
#season 2 episodes
season_2 = vmars[2]

### Examining the `DataFrame`

In [53]:
season_1.shape

(22, 8)

In [54]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
No.overall                22 non-null int64
No. inseason              22 non-null int64
Title                     22 non-null object
Directed by               22 non-null object
Written by                22 non-null object
Original air date         22 non-null object
Prod.code                 22 non-null object
U.S. viewers(millions)    22 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ KB

In [55]:
season_1.head()

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49[15]
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21[16]
2,3,3,"""Meet John Smith""",Harry Winer,Jed Seidel,"October 12, 2004",2T5702,2.71[17]
3,4,4,"""The Wrath of Con""",Michael Fields,Diane Ruggiero,"October 19, 2004",2T5703,3.12[18]
4,5,5,"""You Think You Know Somebody""",Nick Gomez,Dayna Lynne North,"October 26, 2004",2T5704,2.73[19]

In [56]:
#select column
season_1['U.S. viewers(millions)']

0     2.49[15]
1     2.21[16]
2     2.71[17]
3     3.12[18]
4     2.73[19]
5     2.86[20]
6     2.74[21]
7     2.76[22]
8     2.40[23]
9     1.90[24]
10    2.84[25]
11    2.91[26]
12    2.97[27]
13    2.70[28]
14    2.34[29]
15    2.33[30]
16    2.78[31]
17    2.30[32]
18    2.48[33]
19    3.04[34]
20    2.85[35]
21    2.99[36]
Name: U.S. viewers(millions), dtype: object

In [59]:
#fix this!
season_1['U.S. viewers(millions)'].str[:4]

0     2.49
1     2.21
2     2.71
3     3.12
4     2.73
5     2.86
6     2.74
7     2.76
8     2.40
9     1.90
10    2.84
11    2.91
12    2.97
13    2.70
14    2.34
15    2.33
16    2.78
17    2.30
18    2.48
19    3.04
20    2.85
21    2.99
Name: U.S. viewers(millions), dtype: object

In [60]:
season_1['U.S. viewers(millions)'] = season_1['U.S. viewers(millions)'].str[:4]

In [61]:
season_1.head(2)

,No.overall,No. inseason,Title,Directed by,Written by,Original air date,Prod.code,U.S. viewers(millions)
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21

In [62]:
season_1.columns = ['num_overall', 'num_inseason', 'title', 'director', 'writer', 'air_date', 'pcode', 'us_viewers']

In [63]:
season_1.head()

,num_overall,num_inseason,title,director,writer,air_date,pcode,us_viewers
0,1,1,"""Pilot""",Mark Piznarski,Rob Thomas,"September 22, 2004",475258,2.49
1,2,2,"""Credit Where Credit's Due""",Mark Piznarski,Rob Thomas,"September 28, 2004",2T5701,2.21
2,3,3,"""Meet John Smith""",Harry Winer,Jed Seidel,"October 12, 2004",2T5702,2.71
3,4,4,"""The Wrath of Con""",Michael Fields,Diane Ruggiero,"October 19, 2004",2T5703,3.12
4,5,5,"""You Think You Know Somebody""",Nick Gomez,Dayna Lynne North,"October 26, 2004",2T5704,2.73

In [64]:
season_1['us_viewers'].astype('float')

0     2.49
1     2.21
2     2.71
3     3.12
4     2.73
5     2.86
6     2.74
7     2.76
8     2.40
9     1.90
10    2.84
11    2.91
12    2.97
13    2.70
14    2.34
15    2.33
16    2.78
17    2.30
18    2.48
19    3.04
20    2.85
21    2.99
Name: us_viewers, dtype: float64

In [65]:
season_1['us_viewers'] = season_1['us_viewers'].astype('float')

In [66]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
num_overall     22 non-null int64
num_inseason    22 non-null int64
title           22 non-null object
director        22 non-null object
writer          22 non-null object
air_date        22 non-null object
pcode           22 non-null object
us_viewers      22 non-null float64
dtypes: float64(1), int64(2), object(5)
memory usage: 1.5+ KB

### Dates in Pandas

In [67]:
import datetime

In [68]:
datetime.datetime.now()

datetime.datetime(2020, 2, 25, 9, 59, 41, 867685)

In [69]:
now = datetime.datetime.now()

In [70]:
type(now)

datetime.datetime

In [71]:
now.year

2020

In [72]:
now.minute

59

In [73]:
now.hour

9

In [75]:
pd.to_datetime('11-05-2020')

Timestamp('2020-11-05 00:00:00')

In [76]:
pd.to_datetime(season_1['air_date'])

0    2004-09-22
1    2004-09-28
2    2004-10-12
3    2004-10-19
4    2004-10-26
5    2004-11-02
6    2004-11-09
7    2004-11-23
8    2004-11-30
9    2004-12-14
10   2005-01-04
11   2005-01-11
12   2005-02-08
13   2005-02-15
14   2005-02-22
15   2005-03-29
16   2005-04-05
17   2005-04-12
18   2005-04-19
19   2005-04-26
20   2005-05-03
21   2005-05-10
Name: air_date, dtype: datetime64[ns]

In [77]:
season_1['air_date'] = pd.to_datetime(season_1['air_date'])

In [78]:
season_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
num_overall     22 non-null int64
num_inseason    22 non-null int64
title           22 non-null object
director        22 non-null object
writer          22 non-null object
air_date        22 non-null datetime64[ns]
pcode           22 non-null object
us_viewers      22 non-null float64
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 1.5+ KB

In [79]:
months = season_1['air_date'].dt.month

In [80]:
months

0      9
1      9
2     10
3     10
4     10
5     11
6     11
7     11
8     11
9     12
10     1
11     1
12     2
13     2
14     2
15     3
16     4
17     4
18     4
19     4
20     5
21     5
Name: air_date, dtype: int64

In [81]:
season_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 8 columns):
No.overall                22 non-null int64
No. inseason              22 non-null int64
Title                     22 non-null object
Directed by               22 non-null object
Written by                22 non-null object
Original air date         22 non-null object
Prod.code                 22 non-null object
U.S. viewers(millions)    22 non-null object
dtypes: int64(2), object(6)
memory usage: 1.5+ KB

### PROBLEMS

- Rename the columns for season 2 to be consistent with season 1
- Clean up the viewer column
- Convert the dates
- Add a column to season 1 named `season` with value 1, do the same for season 2.
- Explore the help for the `pd.concat` function.  Use this to create a single `DataFrame` containing season 1 and season 2.

In [82]:
#rename the columns

In [83]:
#clean up viewer

In [84]:
#convert the dates

In [85]:
#add season columns

In [86]:
#explore concat

In [87]:
#create single frame