In [15]:
court_shows = ["America's Court with Judge Ross",
              "The Blame Game",
              "Couples Court with The Cutlers",
              "Divorce Court",
              "Guy Court",
              "Hot Bench",
              "Judge Wapner's Animal Court"]

---

### 1. What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'val': 'kilmer', 'reggie':'bush'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [12]:
# A:
for var in [a, b, c, d, e, f, g, h, i]:
    print(f'The variable {str(var)} is type {var.__class__}')

The variable 1 is type <class 'int'>
The variable 2.6 is type <class 'float'>
The variable [1, 2, 3, 5, 6] is type <class 'list'>
The variable {'val': 'kilmer', 'reggie': 'bush'} is type <class 'dict'>
The variable ('one', 'two', 'three') is type <class 'tuple'>
The variable {1: {'key': 'value'}, 2: {'key2': 'value2'}} is type <class 'dict'>
The variable True is type <class 'bool'>
The variable False is type <class 'bool'>
The variable integer is type <class 'str'>

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [13]:
# A: Mutable things can be changed -- lists are mutable tuples are not.

---

### 3. Print the `court_show` list.

In [16]:
# A:
print(court_shows)

["America's Court with Judge Ross", 'The Blame Game', 'Couples Court with The Cutlers', 'Divorce Court', 'Guy Court', 'Hot Bench', "Judge Wapner's Animal Court"]

---

### 4. Print the names of the first and last shows in the list.

In [20]:
# A:
print(court_shows[0], '\n',court_shows[-1])

America's Court with Judge Ross
 Judge Wapner's Animal Court

---

### 5. Print the first five shows in the list.

In [21]:
# A:
court_shows[:5]

["America's Court with Judge Ross",
 'The Blame Game',
 'Couples Court with The Cutlers',
 'Divorce Court',
 'Guy Court']

---

### 6. Append an animal to the list of animals.

In [23]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [24]:
# A:
animals.append('dog')

---

### 7. Print the length of the animals list.

In [25]:
# A:
print(len(animals))

7

---

### 8. Divide the length of the fifth animal by the second.

In [26]:
# A:
len(animals[4])/len(animals[1])

2.3333333333333335

---

### 9. Show two different ways to combine the animals list and the numbers list.

In [28]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [29]:
# A:
animals + numbers

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'dog',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

In [30]:
animals.extend(numbers)

In [31]:
animals

['duck',
 'rat',
 'boar',
 'slug',
 'mammoth',
 'gazelle',
 'dog',
 0.0,
 0.1,
 1.0,
 10.0,
 100.0,
 1000.0]

---

### 10. Count the number of times `0` appears in the following list.

In [32]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [33]:
# A:
binary.count(0)

16

---

### 11. Create an New York zipcode dictionary.

With the following key:value pairs:

    'wall_street': 10005
    'chinatown': 10013
    'harlem':10031
    'katonah':10536

In [35]:
# A:
new_york = {'wall_street': 10005,
'chinatown': 10013,
'harlem':10031,
'katonah':10536}

---

### 12. Get the zipcode for `'chinatown'`, and assign it to a variable.

In [36]:
# A:
new_york['chinatown']

10013

---

### 13. Get the keys out of the dictionary.

In [37]:
# A:
new_york.keys()

dict_keys(['wall_street', 'chinatown', 'harlem', 'katonah'])

---

### 14. Get the key:value pairs out of the dictionary as a list of tuples.

In [40]:
# A:
[(key, val) for key,val in zip(new_york.keys(), new_york.values())]

[('wall_street', 10005),
 ('chinatown', 10013),
 ('harlem', 10031),
 ('katonah', 10536)]

---

### 15. Add scotia to the dictionary with zipcode 12302.

In [41]:
# A:
new_york['scotia'] = 12302

In [42]:
new_york

{'wall_street': 10005,
 'chinatown': 10013,
 'harlem': 10031,
 'katonah': 10536,
 'scotia': 12302}