In [2]:
court_shows = ["America's Court with Judge Ross",
              "The Blame Game",
              "Couples Court with The Cutlers",
              "Divorce Court",
              "Guy Court",
              "Hot Bench",
              "Judge Wapner's Animal Court"]

---

### 1. What are the types of the following variables?

In [3]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'val': 'kilmer', 'reggie':'bush'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# A:

---

### 2. What is the difference between a "mutable" and "immutable" object?

In [4]:
# A:

---

### 3. Print the `court_show` list.

In [5]:
# A:

---

### 4. Print the names of the first and last shows in the list.

In [6]:
# A:

---

### 5. Print the first five shows in the list.

In [7]:
# A:

---

### 6. Append an animal to the list of animals.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
# A:

---

### 7. Print the length of the animals list.

In [11]:
# A:

---

### 8. Divide the length of the fifth animal by the second.

In [12]:
# A:

---

### 9. Show two different ways to combine the animals list and the numbers list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
# A:

---

### 10. Count the number of times `0` appears in the following list.

In [24]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [25]:
# A:

---

### 11. Create an New York zipcode dictionary.

With the following key:value pairs:

    'wall_street': 10005
    'chinatown': 10013
    'harlem':10031
    'katonah':10536

In [26]:
# A:

---

### 12. Get the zipcode for `'chinatown'`, and assign it to a variable.

In [4]:
# A:

---

### 13. Get the keys out of the dictionary.

In [28]:
# A:

---

### 14. Get the key:value pairs out of the dictionary as a list of tuples.

In [29]:
# A:

---

### 15. Add scotia to the dictionary with zipcode 12302.

In [30]:
# A: